doctype html
html
    head
        script(src="https://kit.fontawesome.com/28e976aeef.js")
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet", href="/static/styles.css")
    body
        include ../partials/header
        main
            block content
        include ../partials/footer
        script(src="/static/main.js")